up:
	# 開発環境用 Makefile

	# containers/.env が存在しない場合は containers/.env.example をコピーする
	if [ ! -e containers/.env ]; then \
		cp containers/.env.example containers/.env; \
		echo "containers/.env を作成しました。"; \
	fi

	# raspberry_pi_media_controller/.env が存在しない場合は raspberry_pi_media_controller/.env.example をコピーする
	if [ ! -e raspberry_pi_media_controller/.env ]; then \
		cp raspberry_pi_media_controller/.env.example raspberry_pi_media_controller/.env; \
		echo "raspberry_pi_media_controller/.env を作成しました。"; \
	fi

	# raspberry_pi_media_controller/.env.testing が存在しない場合は raspberry_pi_media_controller/.env.testing.example をコピーする
	if [ ! -e raspberry_pi_media_controller/.env.testing ]; then \
		cp raspberry_pi_media_controller/.env.testing.example raspberry_pi_media_controller/.env.testing; \
		echo "raspberry_pi_media_controller/.env.testing を作成しました。"; \
	fi

	cd containers \
	&& docker-compose build \
	&& docker-compose up -d \
	&& docker-compose exec python bash -c "pip install -r requirements.txt" \
	&& docker-compose exec python bash -c "pipenv install -d pytest"

	cd containers \
	&& docker-compose exec python bash -c "\
		cd raspberry_pi_media_controller/external_scripts && \
		if [ ! -e irrp.py ]; then \
			wget https://abyz.me.uk/rpi/pigpio/code/irrp_py.zip; \
			unzip irrp_py.zip; \
			rm -f irrp_py.zip; \
		fi"
purge:
	cd containers \
	&& docker-compose down \
	&& docker image rm raspberry-pi-media-controller-python:latest